@import "https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css";
@import url("https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap");
@import "./header.css";

body {
  font-family: "Yeon Sung", cursive;
  background-color: #101726;
  color: #fff;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  display: grid;
  grid-template-rows: 30% auto;
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}

@keyframes backgroundFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.background-image {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -9;
  object-fit: cover;
  animation: backgroundFadeIn 0.4s linear;
}
